/*#logout-button {
  color: white;
  background-color: rgba(22, 22, 63, 0.51);
  border: 1px solid black;
}*/

/*#delete-product-button {
  color: white;
  background-color: #145214;
  border: 1px solid black;
}*/
