table {
  width: 100%;
}


.button-edit {
  margin: 1rem auto;
  background-color: #36ed3c;
  color: azure;
  border-radius: 10px 10px 10px 10px;
}


.button-delete {
  margin: 1rem auto;
  background-color: #ed0d16;
  color: azure;
  border-radius: 10px 10px 10px 10px;
}
